# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CRESK_CHOC_LEFT
    def_bool $(shields_list_contains,cresk_choc_left)

config SHIELD_CRESK_CHOC_RIGHT
    def_bool $(shields_list_contains,cresk_choc_right)
