# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_BLACKPILL_F401CC

config BOARD
	default "blackpill_f401cc"

config ZMK_USB
	default y

if BUILD_OUTPUT_UF2

config BUILD_OUTPUT_UF2_USE_FLASH_BASE
    default y

config BUILD_OUTPUT_UF2_USE_FLASH_OFFSET
    default y

endif # BUILD_OUTPUT_UF2

endif # BOARD_BLACKPILL_F401CC
