/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zephyr,display = &oled;
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <8>;

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(3,0) RC(7,0) RC(4,3) RC(4,2) RC(4,1) RC(4,0)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(3,1) RC(7,1) RC(5,3) RC(5,2) RC(5,1) RC(5,0)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(3,2) RC(7,2) RC(6,3) RC(6,2) RC(6,1) RC(6,0)
                        RC(0,4) RC(3,3) RC(7,3) RC(0,5)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-composite";
        label = "KSCAN";

        matrix {
            kscan = <&kscan_matrix>;
        };

        direct {
            kscan = <&kscan_direct>;
            column-offset = <4>;
        };
    };

    kscan_matrix: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_MATRIX";
        diode-direction = "col2row";
        poll-period-ms = <1>;

        col-gpios
            = <&gpiob 4  GPIO_ACTIVE_HIGH>
            , <&gpiob 5  GPIO_ACTIVE_HIGH>
            , <&gpiob 6  GPIO_ACTIVE_HIGH>
            , <&gpiob 7  GPIO_ACTIVE_HIGH>
            ;
        row-gpios
            = <&gpioa 5  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 4  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 2  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpiob 0  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpiob 1  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpiob 3  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpioa 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    kscan_direct: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN_DIRECT";
        poll-period-ms = <1>;

        input-gpios
            = <&gpioa 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&gpiob 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };
};

arduino_i2c: &i2c1 {
    status = "okay";

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "DISPLAY";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <31>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
